@import url('https://fonts.googleapis.com/css2?family=Jost:wght@300;400;700&display=swap');

* {
    margin: 0px;
    font-family: 'Jost', sans-serif;
}


/* Encabezado */

header {
    height: 100px;
    background-color: #FF7F99;
    display: flex;
    justify-content: space-between;
    padding: 0% 3%
}

.logo {
    display: flex;
    align-items: center;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.nav_button {
    border: transparent;
    background: transparent;
    color: white;
    font-size: 24px;
    padding: 3px 40px 3px 40px;
    border-radius: 16px;
}

.nav_button:hover {
    background: #FBE7B4;   
}

/* Secci칩n principal landing page */

main {
    display:flex;
    justify-content:space-evenly;
    padding-top: 30px;
    padding-bottom: 30px;
}

.imagen_principal{
    background: #FF7F99;
    width: 40%;
    height: 40%;
    border-radius: 50% 0% 50% 50%;
}

.imagen_principal img{
    width: 98%;
    margin-left: 4px; 
    margin-top: 8px;   
}

.texto{
    width: 40%;
}

.titulo {
    margin-top: 40px;
    font-size: 85px;
    color: #FF7F99;
    line-height: .8;
}

.subtitulo {
    font-size: 22px;
    font-weight: 400px;
    margin-top: 12px;
    margin-bottom: 22px;
}

.texto p{
    text-align: justify;
    width: 80%;
}

.contact{
    margin-top: 30px;
    display: flex;
}

.contact img{
    width: 40px;
    margin-right: 15px;
}

.main_button {
    border-radius: 40px;
    border-style: none;
    width:30%;
    height: 40px;
    background: #ffca41;
    color: white;
    font-size: 15px;
}

/* Secci칩n principal p치gina desarrolladores */

.texto_coder {
    width: 453px;
    position: relative;
}

.descripcion {
    text-align: justify;
}

.linkedin-coder {
    width: 45px;
    height: 45px;
    margin-top: 25px;
    margin-right: 15px;
}

.main_button2 {
    border-radius: 30px;
    border-color: white;
    background: #ffca41;
    color: white;
    font-size: 15px;
    font-weight: 700;
    position: absolute;
    padding: 3px 50px 15px 50px;
    margin-top: 25px;
}

/* Pie de p치gina */

footer {
    display: grid;
    background: #FF7F99;
    grid-template-columns: repeat(5, 20%)
}

.coder {
    display: grid;
    justify-items: center;
    align-items: center;
    color: white;
    margin: 70px 0px;
}

.coder a{
    font-size: 22px;
}

.coder p {
    font-size: 16px;
    color: black;
    margin-top: 3px;
    margin-bottom: 10px;
}

.img_coder {
    width: 100%;
    height: 242px;
    margin: center;
    border-radius: 50%;
}

.integrantes{
    width: 100%;
    padding: auto;
    height: 100%;
}


.linkedin {
    width: 40px;
    height: 40px;
}

a {
    text-decoration: none;
    color: white;    
}